.background{
    background-image: url("flower-store.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.background2{
    background-image: url("news-letter-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.gray{
    color:rgba(107, 114, 128, 1);
}
.gray-deep{
    color: rgba(146, 142, 142, 0.929);
}